<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <!-- 数据库连接密钥 -->
  <connectionStrings>
    <add name="connStr" connectionString="server=.;database=student;uid=sa;pwd=246800"
      providerName="System.Data.SqlClient" />
    <add name="ADO_Demos.Properties.Settings.studentConnectionString"
      connectionString="Data Source=.;Initial Catalog=student;User ID=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- 开发者信息 -->
    <add key="name" value="Admin"/>
    <!-- 程序版本信息 -->
    <add key="banben" value="v1.0"/>
    <add key="zuoze" value="ZhangLei"/>
    <add key="qq" value="2213407066"/>
    <!-- 数据显示控件:每页数据显示的条数 -->
    <add key="PageSize" value="15"/>
  </appSettings>
</configuration>